*.o
*.a
*.so
*.o.d
*.ko
*.cmd
*.symvers
*.order
*.mod*
cscope*
tags
*.h.gch
doe_tool
*.sw[p-z]
rss_redir_tool

.vscode/

app/ioctl_app/cdev_ioctl

linux_kernel/.vscode/
linux_kernel/mod_config.mk
linux_kernel/cscope*
linux_kernel/tags
linux_kernel/ver.h
linux_kernel/compat_config.h
app/doe/lib/build
meson.build
